* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 92%;
  max-width: 92%;
  margin: 0 auto;
  padding-right: -15px;
  padding-left: -15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.d-flex {
  display: flex;
}
.ml-a {
  margin-left: auto;
}
.col-2 {
  width: 16.66%;
  padding: 15px;
}
.col-3 {
  width: 25%;
  padding: 15px;
}
.col-4 {
  width: 33.33%;
  padding: 15px;
}
.col-5 {
  width: 41.66%;
  padding: 15px;
}
.col-6 {
  width: 50%;
  padding: 15px;
}
.col-7 {
  width: 58.33%;
  padding: 15px;
}
.col-8 {
  width: 66.66%;
  padding: 15px;
}
.col-9 {
  width: 75%;
  padding: 15px;
}
.col-10 {
  width: 83.33%;
  padding: 15px;
}
.col-12 {
  width: 100%;
  padding: 15px;
}
.mt-60 {
  margin-top: 60px;
}
.mb-40 {
  margin-bottom: 40px;
}
.ml-30 {
  margin-left: 30px;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.header {
  display: flex;
  padding: 31px 0px;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: #fff;
}
.header-menu {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.header-menu li {
  list-style-type: none;
}
.header-menu li span {
  cursor: pointer;
}
.header-menu li img {
  margin-right: 20px;
}
.header-menu li a {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #3A3A3A;
  text-decoration: none;
}
.header-logo {
  margin-left: auto;
}
.header-phone {
  margin-right: 74px;
}
.header-phone .phone a {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #3A3A3A;
  text-decoration: none;
}
.header-text {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #3A3A3A;
}
.header-contact {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.header-contact li {
  list-style-type: none;
}
.header-contact li img {
  cursor: pointer;
}
.header-contact li img:hover {
  transform: scale(1.1);
}
.home {
  width: 100%;
  height: 450px;
  overflow: hidden;
  border-radius: 10px;
}
.home img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: cover;
}
.new-product-title {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 33px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #3A3A3A;
  margin-bottom: 20px;
}
.new-product-title img {
  margin-top: 5px;
  margin-left: 10px;
}
.product-box {
  margin-bottom: 30px;
}
.product-box.big {
  border-radius: 15px;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 130px;
}
.product-box.big:hover {
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.product-box-img {
  width: 100%;
  height: 320px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
.product-box-img img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: cover;
}
.product-box-title {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #3A3A3A;
  margin-top: 10px;
  margin-bottom: 10px;
}
.product-box-title.big {
  font-size: 22px;
  padding-right: 50px;
  padding-left: 5px;
}
.product-box-text {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #BABABA;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-box-text img {
  margin-left: 10px;
}
.product-box-price {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #3A3A3A;
  margin-top: 15px;
}
.product-box-price span {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #BABABA;
}
.product-action {
  background: #F4EBCF;
  padding: 50px;
  margin-bottom: 110px;
}
.product-actions {
  background: #FDE8F7;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 110px;
}
.product-actions-title {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 450;
  font-size: 80px;
  line-height: 103px;
  display: flex;
  align-items: center;
  color: #3A3A3A;
}
.product-action-text {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #3A3A3A;
  margin-left: 10px;
}
.product-action-title {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 450;
  font-size: 60px;
  line-height: 77px;
  display: flex;
  align-items: center;
  color: #3A3A3A;
  margin-bottom: 78px;
  margin-top: 55px;
}
.product-action-img {
  margin-left: auto;
  width: 100%;
  height: 350px;
  position: relative;
}
.product-action-img img {
  width: 350px;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: cover;
  right: 30px;
}
.product-bottom-text {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #3A3A3A;
  margin-left: 10px;
}
.footer {
  margin-bottom: 40px;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  width: 21.5%;
}
.footer-menu.big {
  width: 35%;
  padding-left: 80px;
}
.footer-menu-social {
  display: flex;
  gap: 20px;
}
.footer-menu-social img {
  cursor: pointer;
}
.footer-menu-social img:hover {
  transform: scale(1.1);
}
.footer-menu-phone a {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #3A3A3A;
  margin-top: 20px;
  text-decoration: none;
}
.footer-menu-title {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #3A3A3A;
  margin-bottom: 40px;
}
.footer-menu-title.small {
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 0px;
}
.footer-menu-title.small a {
  color: #3A3A3A;
  text-decoration: none;
}
.footer-menu-text {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #BABABA;
  margin-top: 40px;
}
.footer-menu-text.small {
  font-size: 12px;
  margin-top: 5px;
}
.footer-menu ul li {
  list-style-type: none;
  position: relative;
}
.footer-menu ul li img {
  background: #BABABA;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: -15px;
  margin-left: 10px;
}
.footer-menu ul li img:hover {
  background: #a1a1a1;
}
.footer-menu ul li label {
  background: #F5F5F5;
  border-radius: 5px;
  padding: 15px 10px;
}
.footer-menu ul li label input {
  width: 232px;
  border: unset;
  outline: unset;
  background-color: unset;
}
.footer-menu ul li span,
.footer-menu ul li a {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #3A3A3A;
  margin-bottom: 20px;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-pointer:hover {
  text-decoration: underline;
}
.cursor-pointer:hover svg,
.cursor-pointer:hover img {
  stroke: #ff6666;
}
